<?xml version="1.0"?>
<launch>


<arg name="x" default="0"/>
<arg name="y" default="0"/>
<arg name="z" default="0"/>
<arg name="roll" default="0"/>
<arg name="pitch" default="0"/>
<arg name="yaw" default="0"/>


<include file="$(find diffrobot_description)/launch/robot_description.launch"/>

<arg name="world_file" default="$(find diffrobot_gazebo)/world/home.world"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_file)"/> <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="debug" value="false"/>
</include>




<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find diffrobot_description)/urdf/diffrobot.xacro'"/>

<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
 args="-urdf -param robot_description -model diffrobot
 -x $(arg x) -y $(arg y) -z $(arg z)
 -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/>
    

</launch>